<div class="commit-build-statuses js-menu-container">
  <a class="text-{{state}} tooltipped tooltipped-e js-menu-target" aria-label="{{stateTooltip statuses}}" href="#">
      {{icon state}}
  </a>
  <div class="dropdown-menu-content js-menu-content">
    <div class="dropdown-menu dropdown-menu-e">
      <div class="branch-action-item js-details-container branch-action-item-simple">
        <div class>
          <h4 class="status-heading text-{{state}}">{{stateHeading state}}</h4>
          <span class="status-meta">{{state}}</span>
        </div>
        <div class="build-statuses-list">
          {{#each statuses}}
            <div class="build-status-item">
              <a class="build-status-details right" href="{{target_url}}">Details</a>
              {{icon state}}
              <span class="text-muted css-truncate css-truncate-target">
                <strong class="text-emphasized">{{context}}</strong>
                {{ description }}
              </span>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
